html.simplify {
  @media only screen and (min-width: 1175px) {
    --shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
    --shadow-light: 0 3px 10px rgba(0, 0, 0, 0.08);
    --shadow-big: 0px 8px 24px rgba(0, 0, 0, 0.06);

    body.theme-mastodon-light,
    body.skin-mastodon-light {
      --color-background: #f7f7f7; // #fff;
      --color-bg-cards: #fff;
      --color-nav-icon: rgb(40, 44, 55);
    }
    body.theme-default,
    body.theme-contrast,
    body.skin-default,
    body.skin-contrast {
      --color-background: #191b22;
      --color-bg-cards: #262a3b;
      --color-nav-icon: rgb(217, 225, 232);
      --shadow-big: none; // 0px 8px 24px rgba(58, 59, 255, 0.06);
    }
    body.forceLightTheme {
      --color-background: #f7f7f7; // #fff;
      --color-bg-cards: #fff;
      --color-nav-icon: rgb(40, 44, 55);
    }
    body.forceDarkTheme {
      --color-background: #191b22;
      --color-bg-cards: #262a3b;
      --color-nav-icon: rgb(217, 225, 232);
      --shadow-big: none; // 0px 8px 24px rgba(58, 59, 255, 0.06);
    }
    body.theme-mastodon-winter {
      --color-background: #1f3750;
      --color-bg-cards: #233e5b;
      --color-nav-icon: rgb(217, 225, 232);
    }

    // Apply background
    &,
    body,
    .ui {
      --f-body-bg: var(--color-background);
      background: var(--color-background);
    }

    // =============================================
    // == NAV COLUMN ===============================

    // Move Nav to left
    .columns-area__panels__pane--navigational {
      order: 0;
    }

    // Hide logo
    .column-link--logo {
      display: none !important;
    }

    .navigation-panel {
      padding-top: 20px;
      height: auto;

      // Bump up icon size in nav
      a.column-link {
        display: flex;
        align-items: center;

        i {
          font-size: 24px;
        }
        i.icon-with-badge__badge {
          font-size: 12px;
        }
      }

      // Hide HR above prefs nav item
      .column-link ~ hr {
        display: none;
      }
    }

    // Hide nav labels until hover if signed out
    &:not(.signedOut) .navigation-panel {
      .column-link:not(:hover) {
        i + span {
          opacity: 0;
        }
      }
    }

    &.lessNavItems:not(.signedOut) {
      .navigation-panel {
        // Hide a bunch of nav items
        .column-link[title="Local"],
        .column-link[title="Federated"],
        .column-link[title="Favourites"],
        .column-link[title="Bookmarks"],
        .column-link[title="Lists"] {
          display: none;
        }

        // Use spacer for expand nav button
        .flex-spacer {
          height: 48px;
          width: 64px;
          cursor: pointer;

          &::before {
            content: "";
            color: var(--color-nav-icon);
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 24px;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            margin: 12px 0 0 20px;
          }
        }

        .list-panel hr {
          display: none;
        }
      }
    }

    // Hide the footer links until you hover over them
    // .link-footer:not(:hover) {
    //   opacity: 0;
    // }
    .link-footer {
      display: none;
    }

    // =============================================
    // == MAIN COLUMN ==============================

    // Reorder the columns and put a max width on the main column
    .columns-area__panels__main {
      order: 1;
      max-width: calc(100% - 615px);
      & > div {
        max-width: 650px;
      }
    }

    // Add margin to make tabs and headers match the width of the cards
    // #tabs-bar__portal,
    // .notification__filter-bar,
    // .account-timeline__header,
    // .empty-column-indicator,
    // .account__section-headline,
    // .dismissable-banner,
    // .column-inline-form,
    // .column-subheading,
    // .explore__links,
    // .explore__suggestions,
    // .trends__item,
    // .follow_requests-unlocked_explanation {
    //   margin: 0 24px;
    // }

    .explore__suggestions > div {
      margin: 36px 0;
    }

    // Center the top bar and blend it into the background
    .tabs-bar__wrapper {
      padding-top: 30px;
      margin: auto;
      width: 100%;
      background: var(--color-background);
      top: 0px;
      transition: top 100ms ease-out;
    }
    .column-header__back-button {
      background: var(--color-background);
    }

    // Hide the title bar when scrolled down
    &.scrolled .tabs-bar__wrapper {
      top: -80px;
      transition: top 100ms ease-out;
    }
    // Or I could make it -80px with :has(.column-header__collapsible.collapsed)
    &.scrolled .tabs-bar__wrapper:has(.column-header__collapsible__extra) {
      top: -220px;
    }

    .column-header {
      border-radius: 0px;
      border: none;
      background-color: transparent;
    }
    .column-header__button {
      background-color: transparent;
    }

    .column > .scrollable {
      border: 0px;
      background-color: transparent;
    }

    .scrollable > div[tabindex="-1"]:has(> .status__wrapper),
    .scrollable > div[tabindex="-1"]:has(> .detailed-status__wrapper),
    .scrollable > div > div[tabindex="-1"]:has(> .status__wrapper),
    .scrollable > div > div[tabindex="-1"]:has(> .detailed-status__wrapper),
    article {
      background-color: var(--color-bg-cards);
      margin: 40px 0; // 25px;
      border-radius: 16px;
      // box-shadow: var(--shadow-big);

      .status {
        border-bottom: none;
      }

      .status__relative-time {
        opacity: 0.5;
      }

      &:not(:hover) .status__action-bar {
        opacity: 0.2;
      }

      .load-more {
        border-radius: 16px;
      }
    }
    .scrollable > div[tabindex="-1"]:has(> .detailed-status__wrapper),
    .scrollable > div > div[tabindex="-1"]:has(> .detailed-status__wrapper) {
      // Force border radius
      overflow: hidden;
      border: 5px solid #f5f5f522;
    }

    // Increase the border radius of avatars to better match the card
    .account__avatar[style*="width: 46px"] {
      border-radius: 12px;
    }
    .account__avatar[style*="width: 36px"] {
      border-radius: 8px;
    }

    // Drop the bottom border on the Load More card
    .load-gap {
      border-bottom: 0px;
    }

    // Drop bottom border on DMs
    .conversation {
      border-bottom: none;
    }

    // Curve the border radius on unread notifications
    .notification.unread:before,
    .status__wrapper.unread:before {
      border-radius: 16px;
    }

    // =============================================
    // == COMPOSE COLUMN ===========================

    // Reorder the columns
    .columns-area__panels__pane--compositional {
      order: 2;

      .columns-area__panels__pane__inner {
        z-index: 1;
      }
    }

    form.compose-form * .compose-form {
      padding: 0 0 80px 0;

      textarea::placeholder {
        opacity: 0;
      }
    }

    .compose-form.hidden:not(:has(.reply-indicator__header)):not(
        :has(.compose-form__warning)
      ) {
      // Hide everything in compose when it isn't open
      * {
        display: none;
      }

      // Shrink the box to an icon
      min-height: 48px;
      max-height: 48px;
      height: 48px;
      width: 48px;
      padding: 0;
      margin: 0;
      margin-left: auto;
      cursor: pointer;

      &::before {
        content: "";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 24px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin: 12px 0 0 20px;
        opacity: 0.7;
      }
    }

    .compose-form__publish-button-wrapper {
      overflow: visible !important;

      &::after {
        content: "Cancel";
        transform: translate(-68px, -34px);
        display: inline-block;
        opacity: 0.5;
        cursor: pointer;
        padding: 8px;
      }
    }

    // .compose-form:has(textarea:empty) .compose-form__publish {
    //   opacity: 0;
    // }
    // .compose-form:has(textarea:empty) .compose-form__buttons-wrapper:not(:hover) {
    //   opacity: 0.3;
    // }
    // .compose-form:has(.reply-indicator__header) .compose-form__publish {
    //   opacity: 1;
    // }

    .getting-started__trends {
      display: none;
    }

    // Put the profile in the bottom left
    .compose-panel {
      padding-top: 20px;
      height: calc(100% - 40px);

      .navigation-bar {
        position: fixed;
        left: 16px;
        bottom: 24px;
        z-index: 1;
        border-radius: 100px;

        &:hover {
          background-color: var(--color-bg-cards);
          box-shadow: var(--shadow);
        }

        &:not(:hover) {
          .navigation-bar__profile,
          .navigation-bar__actions {
            display: none;
          }
        }
      }

      .navigation-bar__profile {
        min-width: 100px;
      }

      .account__avatar {
        border-radius: 23px;
      }
    }

    // Reduce search to an icon when not in use
    .search__input:empty:not(:focus) {
      opacity: 0;
      cursor: pointer;
      margin-left: auto;
      width: 50px;
    }
    .search:has(.search__input:empty:not(:focus)) .fa-search {
      opacity: 0.7;
      border-radius: 22px;
      font-size: 20px;
      cursor: pointer;
    }
    .search:has(.search__input:focus) .fa-search,
    .search:has(.search__input:not(:empty)) .fa-search {
      display: none;
    }
  }

  // =============================================
  // == OTHER ====================================

  // Make the modal background
  .modal-root__overlay {
    background-color: rgba(0, 0, 0, 0.85) !important; // rgba(41, 42, 44, 0.95);
  }
}
